img.alphabetletter{
  width:200px;
  height:200px;
  display:block;
  border: 10px solid black;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  horizontal-align: middle;
  text-align:center;

}
