
.jumbotron {
  padding: 0;
  margin-bottom: 0;
  margin-top: 60px;
  background-size: auto;
  font-size: 20px;
  background: rgba(243, 254, 248, 1);
}


blockquote {
  border-left: 0;
}


.jumbotron .form-group {
  line-height: 1em;
}

.jumbotron label {
  color: white;
}



.navbar-inverse {
  background-color: rgba(32, 35, 41,0.8);
}

/*navbar{height: 9%}*/  /*for positioning of the picture*/

.form-inline input[name='email'] {
  width: 80%;
}
#social-buttons {
  margin-top: 50px;
}

#fb{color:white;}

.btn-twitter {
  background-color: #00acee;
  border-color: #009ad5;
  color: white;
}

.btn-facebook {
  background-color: #4868ac;
  border-color: #314776;
  color: white;
}

.btn-pinterest {
  background-color: #b62f26;
  border-color: #b62f26;
  color: white;
}
