.btn-facebook {
  background: #4868ac;
  border-color: #314776;
}
.btn-pinterest{
  background: #b62f26;
  border-color:#b62f26;

}
.btn-twitter{
  background:#00acee;
  border-color:#009ad5;
}
#social-buttons button {
  color: white ;
}

.content {
  max-width: 500px;
  margin: 0 auto;
}
header {
  text-align: center;
  background-image: url("https://i.imgur.com/HnGwjwe.jpg");
  background-size: cover;
  line-height: 50px;
  height: 130px;
  padding: 15px 15px 40px 15px;
  margin: 0px 0px 30px 0px;
}
body {
  background: rgb(181, 235, 205);
}

li {
  display: inline;
  padding: 0px 7px 0px 7px;
  font-size: 20px;
  white-space: nowrap;
}
