.LetterImg {
  width:200px;
  height:200px;
  display:block;
  border: 10px solid black;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  horizontal-align: middle;
  text-align:center;
}

.highl{
  color:darkblue;
}




.AnswerField {
  position: relative;
  top: 2px; bottom:20px;
  left: 20px;
  right: 20px;
}
