.LetterImg {
  width:200px;

  display:block;
  border: 10px solid black;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 100px;
  width=200;
  horizontal-align: middle;
  text-align:center;
}




.highl{
  color:blue;
}