<!DOCTYPE html>
<html>
<head>
  <title>The Alphabet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <style>
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
          }
          
          /* Modal Content */
          .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
          }
          
          /* The Close Button */
          .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
          }
          
          .close:hover,
          .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
          }
        
        
        </style>

</head>

<body>
            <div class="header">
                <a href="index.html">Home</a>
                <a href="greetings.html">Greetings</a>
                <a href="small.html">Small Phrases</a>
                <a href="alphabet.html">The Alphabet</a>
                <a href="#">Quiz</a>
            </div>
        <h2>Click on one of the letters bellow to learn how to sign them.</h2>


        <!-- Letter A  -->
        <button id="myBtnA">A</button>
        <div id="myModalA" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>


        <!-- Letter B -->
        <button id="myBtnB">B</button>
        <div id="myModalB" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>

        <!-- Letter C -->
        <button id="myBtnC">C</button>
        <div id="myModalC" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>

        <!-- Letter D  -->
        <button id="myBtnD">D</button>
        <div id="myModalD" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>

        <!-- Letter E  -->
        <button id="myBtnE">E</button>
        <div id="myModalE" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>

        <!-- Letter F  -->
        <button id="myBtnF">F</button>
        <div id="myModalF" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>

        <!-- Letter G -->
        <button id="myBtnG">G</button>
        <div id="myModalG" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>

        
         <!-- Letter H -->
        <button id="myBtnH">H</button>
        <div id="myModalH" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>

        <!-- Letter I  -->
        <button id="myBtnI">I</button>
        <div id="myModalI" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>

        <!-- Letter  J -->
        <button id="myBtnJ">J</button>
        <div id="myModalJ" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>

        <!-- Letter K -->
        <button id="myBtnK">K</button>
        <div id="myModalK" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>

        <!-- Letter L -->
        <button id="myBtnL">L</button>
        <div id="myModalL" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>


        <!-- Letter M -->
        <button id="myBtnM">M</button>
        <div id="myModalM" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>


        <!-- Letter N  -->
        <button id="myBtnN">N</button>
        <div id="myModalN" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>


        <!-- Letter O -->
        <button id="myBtnO">O</button>
        <div id="myModalO" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>


        <!-- Letter P -->
        <button id="myBtnP">P</button>
        <div id="myModalP" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>


        <!-- Letter Q -->
        <button id="myBtnQ">Q</button>
        <div id="myModalQ" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>


        <!-- Letter R  -->
        <button id="myBtnR">R</button>
        <div id="myModalR" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>


        <!-- Letter S -->
        <button id="myBtnS">S</button>
        <div id="myModalS" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>

        <!-- Letter T -->
        <button id="myBtnT">T</button>
        <div id="myModalT" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>


        <!-- Letter U  -->
        <button id="myBtnU">U</button>
        <div id="myModalU" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>


        <!-- Letter V -->
        <button id="myBtnV">V</button>
        <div id="myModalV" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>


        <!-- Letter W -->
        <button id="myBtnW">W</button>
        <div id="myModalW" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>


        <!-- Letter X  -->
        <button id="myBtnX">X</button>
        <div id="myModalX" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>


        <!-- Letter Y  -->
        <button id="myBtnY">Y</button>
        <div id="myModalY" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>


        <!-- Letter Z -->
        <button id="myBtnZ">Z</button>
        <div id="myModalZ" class="modal">

         <div class="modal-content">
           <span class="close">&times;</span>
           <p>Image</p>
         </div>
         </div>








      <!--LETTER A SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalA');
            
            var btn = document.getElementById("myBtnA");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER B SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalB');
            
            var btn = document.getElementById("myBtnB");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER C SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalC');
            
            var btn = document.getElementById("myBtnC");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>
        
      <!--LETTER D SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalD');
            
            var btn = document.getElementById("myBtnD");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>


      <!--LETTER E SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalE');
            
            var btn = document.getElementById("myBtnE");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER F SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalF');
            
            var btn = document.getElementById("myBtnF");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER G SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalG');
            
            var btn = document.getElementById("myBtnG");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER H SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalH');
            
            var btn = document.getElementById("myBtnH");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER I SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalI');
            
            var btn = document.getElementById("myBtnI");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER J SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalJ');
            
            var btn = document.getElementById("myBtnJ");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER K SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalK');
            
            var btn = document.getElementById("myBtnK");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER L SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalL');
            
            var btn = document.getElementById("myBtnL");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER M SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalM');
            
            var btn = document.getElementById("myBtnM");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER N SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalN');
            
            var btn = document.getElementById("myBtnN");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER O SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalO');
            
            var btn = document.getElementById("myBtnO");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER P SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalP');
            
            var btn = document.getElementById("myBtnP");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER Q SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalQ');
            
            var btn = document.getElementById("myBtnQ");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER R SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalR');
            
            var btn = document.getElementById("myBtnR");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER S SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalS');
            
            var btn = document.getElementById("myBtnS");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER T SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalT');
            
            var btn = document.getElementById("myBtnT");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER U SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalU');
            
            var btn = document.getElementById("myBtnU");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER V SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalV');
            
            var btn = document.getElementById("myBtnV");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER W SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalW');
            
            var btn = document.getElementById("myBtnW");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER X SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalX');
            
            var btn = document.getElementById("myBtnX");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER Y SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalY');
            
            var btn = document.getElementById("myBtnY");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

      <!--LETTER Z SCRIPT-->
      <script>
            
            var modal = document.getElementById('myModalZ');
            
            var btn = document.getElementById("myBtnZ");
            
            var span = document.getElementsByClassName("close")[0];
            
            btn.onclick = function() {
              modal.style.display = "block";
            }
            
            span.onclick = function() {
              modal.style.display = "none";
            }
            
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
        </script>

</body>
