<!DOCTYPE html>
<html>
<head>
  <title>Sign Language - Greetings</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://necolas.github.io/normalize.css/8.0.0/normalize.css" rel="stylesheet">
    <link href="https://necolas.github.io/normalize.css/8.0.0/greetings.css" rel="stylesheet">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename= 'css/main.css') }}">


</head>




<meta http-equiv="Cache-control" content="no-cache">

<header>
  <h1>Speak Sign Language</h1>
 <div class ="content">
    <ul>
      <li><a href="/"> <b>Home</b>  </a></li>
      <li><a href="/greetings"> <b>Greetings</b> </a></li>
      <li><a href="/small" > <b>Small phrases</b> </a></li>
      <li><a href="/alphabet"> <b>Alphabet</b> </a></li>
      <li><a href="/quiz"><b>Quiz</b> </a></li>
    </ul>

</div>
</header>


<body>
  <div class ="content">
  <h2>Scroll down to each section, to learn each greetings.</h2>
   <div class="col-sm-12">
    <h3>Hello</h3>
    <img class="gif_image_greeting" src="https://media.giphy.com/media/3o7TKNKOfKlIhbD3gY/giphy.gif" alt="sign language hello">
  </div>

  <div class="col-sm-12">
    <h3>Good Morning</h3>
    <img class="gif_image_greeting" src="https://media.giphy.com/media/26FLchGgqamznV64E/giphy.gif" alt="sign language good morning">
  </div>

  <div class="col-sm-12">
      <h3>Good Morning</h3>
      <img class="gif_image_greeting" src="https://media.giphy.com/media/l4JzaRsX52k8glIFa/giphy.gif" alt="sign language Good Afternoon">
  </div>

  <div class="col-sm-12">
      <h3>Good Morning</h3>
      <img class="gif_image_greeting" src="https://media.giphy.com/media/l4JzdrbDeU2lMMrde/giphy.gif" alt="sign language Good Evening">
  </div>

  <div class="col-sm-12">
      <h3>Good Morning</h3>
      <img class="gif_image_greeting" src="https://media.giphy.com/media/l4Jz5WK4Uddr8KsSc/giphy.gif" alt="sign language Good Night">
  </div>








</div>

</body>
</html>
