<!DOCTYPE html>

<head >
        <link href="https://necolas.github.io/normalize.css/8.0.0/normalize.css" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename= 'css/quiz.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename= 'css/main.css') }}"> 
        <title>Quiz - Results</title>

</head>



<meta http-equiv="Cache-control" content="no-cache">

<header>
    <header>
        <div class ="content">
         <h1>Speak Sign Language</h1>
           <ul>
             <li><a href="/"> <b>Home</b>  </a></li>
             <li><a href="/greetings"> <b>Greetings</b> </a></li>
             <li><a href="/small" > <b>Small phrases</b> </a></li>
             <li><a href="/alphabet"> <b>Alphabet</b> </a></li>
             <li><a href="/quiz"><b>Quiz</b> </a></li>
           </ul>

       </div>
       </header>
</header>


<body>
    <div class='content'>

    {% if your_score %}
        <p><b>Your score is: {{your_score}}. That is {{your_scorePerc}}%.</b></p>
      {% endif %}
      <p><b>Which quiz would you like to take?</b></p>
      <ul>
          <li><a href="/quizG"> <b>Greetings</b>  </a></li>
          <li><a href="/quizA"> <b>Letters</b> </a></li>
      </ul>
    </div>
</body>
