<!DOCTYPE html>

<head>

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}"> 
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/quiz.css') }}"> 
        <title>Speak Sign Language</title>

</head>

<body>
        <h1>Quiz</h1>
        <h2>How well do you know the sign alphabet?</h2>



        <form style="position: relative;">
                <img src="https://i.imgur.com/z6mV6kx.jpg"  class='imgQuiz' width=100 />
                <div style="position: absolute; left: 0px; top: 0px;"> 
                   Input here... <input type="text" /><br />
                   <button type="submit">Send</button>
                </div>
            </div>
</body>