<!DOCTYPE html>

<head >
        <link href="https://necolas.github.io/normalize.css/8.0.0/normalize.css" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename= 'css/quiz.css') }}"> 
        <title>Quiz - Results</title>

</head>



<meta http-equiv="Cache-control" content="no-cache">

<header>
  <img src="https://i.imgur.com/YH4cJhg.jpg" alt="bckgound" class="bg" />
    <div class ="content">
                

    <ul>
      <li><a href="/index"> <b>Home</b>  </a></li>
      <li><a href="/greetings"> <b>Greetings</b> </a></li>
      <li><a href="/phrases"> <b>Basic phrasis</b> </a></li>
      <li><a href="/"><b>Quiz</b> </a></li>
    </ul>

</div>
</header>


<body class ='content'>
        <img src="https://i.imgur.com/YH4cJhg.jpg" alt="bckgound" class="bg" />
        {% if your_score %}
         <p><b>Your score is: {{your_score}}. That is {{your_scorePerc}}%.</b></p> 
        {% endif %}
</body>